{% load static from staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Formulaire</title>
    <link rel="stylesheet" href="{% static 'css/printingForm.css' %}" />
    <link rel="stylesheet" href="{% static 'css/template.css' %}" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header class="navBar">
      <img src="" alt="logo GeePs" />
      <h1>Geeps Poster Printing Center</h1>
      <div class="subNavFlex">
        <div class="drop">
          <button id="dropDownBtn" class="dropbtn">
            Langues
            <i class="fa fa-caret-down"></i>
          </button>
          <div id="dropItem" class="drop-content">
            <button class="btnLang">Français</button>
            <button class="btnLang">Anglais</button>
          </div>
        </div>
        <a style="margin-left: 10px;" class="adminLink" href="#">Admin</a>
      </div>
    </header>

    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="NomForm">(*) Nom</label>
          <input
            type="text"
            class="form-control"
            id="nomForm"
            placeholder="Nom"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="prenomForm">(*) Prénom</label>
          <input
            type="text"
            class="form-control"
            id="prenomForm"
            placeholder="Prénom"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="emailForm">(*) Email</label>
          <input
            type="text"
            class="form-control"
            id="emailForm"
            placeholder="Email"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="numForm">(*) Numéro</label>
          <input
            type="text"
            class="form-control"
            id="numForm"
            placeholder="01.69.85.xx.xx"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="batimentForm">(*) Choisissez votre bâtiment</label>
          <select id="batimentForm" class="custom-select" required>
            <option value="geeps">GeePs</option>
            <option value="breguet">Bréguet</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="bureauForm">(*) Bureau</label>
          <input
            type="text"
            class="form-control"
            id="bureauForm"
            placeholder="Bureau"
          />
        </div>
        <div class="form-group col-md-12">
          <select class="form-control">
            <option value="A0">A0 (118,9 x 84,1 cm)</option>
            <option value="A0+">A0+ surdimensionné (129 x 91 cm)</option>
            <option value="autre">Autre</option>
          </select>
        </div>
        <div class="form-group col-md-12">
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              id="fichierForm"
              required
            />
            <label class="custom-file-label" for="fichierForm"
              >(*) Téléchargez votre fichier (PDF|PPT|PPTX)</label
            >
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>(*) Champs obligatoires</label>
      </div>
      <div style="display: flex;">
        <button
          type="submit"
          style="margin-right: auto; margin-left: auto"
          class="btn btn-primary"
        >
          Envoyer
        </button>
      </div>
    </form>

    <footer>
      <div class="foot">
        <div>
          <p>Direction : Claude Marchand</p>
          <p>GeePs</p>
          <p>CNRS UMR8507 - CentralSupélec</p>
          <p>webmaster@geeps.centralesupelec.fr</p>
          <p>91190 Gif sur Yvette</p>
        </div>
        <div>
          <p>@ Copyright 2019 - GeePs</p>
          <p>Université Paris-Sud - Sorbonne Universités</p>
          <p>Ce site est réalisé en Django</p>
        </div>
      </div>
    </footer>
  </body>
</html>
