{% load static from staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Formulaire</title>
    <link rel="stylesheet" href="{% static 'css/printingForm.css' %}" />
    <link rel="stylesheet" href="{% static 'css/template.css' %}" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header class="navBar">
      <img src="static/img/img.png" alt="logo" style="width: 130px;" />
      <div class="subNavFlex right">
        <div class="drop ">
          <button id="dropDownBtn" class="dropbtn">
            Langues
            <i class="fa fa-caret-down"></i>
          </button>
          <div id="dropItem" class="drop-content">
            <button class="btnLang">Français</button>
            <button class="btnLang">Anglais</button>
          </div>
        </div>
        <a style="margin-left: 10px;" class="adminLink" href="./admin">Admin</a>
      </div>
    </header>
    <div id="banner" class="banner"></div>
    <h1>Geeps Poster Printing Center</h1>

    <form method="post" action="/" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="NomForm">(*) Nom</label>
          <input
            name="nom"
            type="text"
            class="form-control"
            id="nomForm"
            placeholder="Nom"
            required
          />
        </div>
        <div class="form-group col-md-6">
          <label for="prenomForm">(*) Prénom</label>
          <input
            name="prenom"
            type="text"
            class="form-control"
            id="prenomForm"
            placeholder="Prénom"
            required
          />
        </div>
        <div class="form-group col-md-6">
          <label for="emailForm">(*) Email</label>
          <input
            name="email"
            type="text"
            class="form-control"
            id="emailForm"
            placeholder="Email"
            required
          />
        </div>
        <div class="form-group col-md-6">
          <label for="numForm">(*) Numéro</label>
          <input
            name="numero"
            type="text"
            class="form-control"
            id="numForm"
            placeholder="01.69.85.xx.xx"
            required
          />
        </div>
        <div class="form-group col-md-6">
          <label for="batimentForm">(*) Choisissez votre bâtiment</label>
          <select
            id="batimentForm"
            class="custom-select"
            name="building"
            required
          >
            {% for building in buildings %}
            <option value="{{ building.pk }}">{{ building.building }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="bureauForm">(*) Choisissez votre bureau</label>
          <select
            id="bureauForm"
            class="custom-select"
            name="officeName"
            required
          >
            {% for office in offices %}
            <option value="{{ office.pk }}">{{ office.officeName }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group col-md-12">
          <select
            class="form-control custom-select"
            name="format"
            onchange="formatChange(event)"
            id="formatSelect"
          >
            <option value="Selectionner un format" disabled selected
              >(*) Selectionner un format</option
            >
            {% for format in formats %}
            <option value="{{ format.pk }}">{{ format.format }}</option>
            {% endfor %}
            <option value="autre">Autre</option>
          </select>
        </div>
        <div id="Largeur" class="form-group col-md-6 hide">
          <label for="largeurForm">(*) Cm x</label>
          <input
            name="largeurInput"
            type="text"
            class="form-control"
            placeholder="Largeur"
            id="largeurForm"
          />
        </div>
        <div id="Longueur" class="form-group col-md-6 hide">
          <label for="longueurInput">(*) Cm</label>
          <input
            name="longueurInput"
            type="text"
            class="form-control"
            placeholder="Longueur"
            id="longueurForm"
          />
        </div>
        <div id="fileInputDiv" class="form-group col-md-12">
          <div class="custom-file">
            <input
              name="file"
              type="file"
              class="custom-file-input"
              id="fichierForm"
            />
            <label class="custom-file-label" for="fichierForm"
              >(*) Téléchargez votre fichier (PDF|PPT|PPTX)</label
            >
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>(*) Champs obligatoires</label>
      </div>
      <div style="display: flex;">
        <button
          type="submit"
          style="margin-right: auto; margin-left: auto; padding: 5px 30px;"
          class="btn btn-primary"
          id="btnForm"
        >
          Envoyer
        </button>
      </div>
    </form>

    <footer>
      <div class="foot">
        <div style="padding: 20px 0;">
          <p>Direction : Claude Marchand</p>
          <p>GeePs</p>
          <p>CNRS UMR8507 - CentralSupélec</p>
          <p>webmaster@geeps.centralesupelec.fr</p>
          <p>91190 Gif sur Yvette</p>
        </div>
        <div style="padding: 20px 0;">
          <img src="static/img/img.png" alt="logo" style="width: 130px;" />
          <p>@ Copyright 2019 - GeePs</p>
          <p>Université Paris-Sud - Sorbonne Universités</p>
          <p>Ce site est réalisé en Django</p>
        </div>
      </div>
    </footer>

    <script>
      function formatChange(event) {
        if (event.target.value === 'autre') {
          document.getElementById('Longueur').style.display = 'block';
          document.getElementById('Largeur').style.display = 'block';
        } else {
          document.getElementById('Longueur').style.display = 'none';
          document.getElementById('Largeur').style.display = 'none';
        }
      }
    </script>

    <script src="{% static 'script/formValidator.js' %}"></script>
  </body>
</html>
