.navBar {
  display: flex;
  justify-content: space-around;
  height: 50px;
  line-height: 50px;
  padding-right: 10px;
  padding-left: 15px;
  margin-bottom: 20px;
  background: linear-gradient(-90deg, #84cf6a, #16c0b0);
  box-shadow: 0px 1px 10px;
}

.subNavFlex {
  display: flex;
}

.langSelect {
  background-color: inherit;
  border: none;
}

.headerFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form {
  width: 80%;
  margin: 20px auto 0px auto;
  box-shadow: 0px 0px 3px black;
  padding: 10px;
}

.drop {
  overflow: hidden;
}

.drop .dropbtn {
  height: 100%;
  border: none;
  background-color: inherit;
}

.dropbtn:hover {
  cursor: pointer;
  background-color: rgba(0, 151, 19, 0.1);
}

.btnLang {
  text-align: left;
  border: none;
  width: 100%;
  height: 50px;
}

.btnLang:hover {
  background-color: #ddd;
  cursor: pointer;
}

.drop:hover .drop-content {
  display: block;
}

.drop-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.adminLink {
  text-decoration: none;
  color: black !important;
}

.foot {
  width: 80%;
  margin: 0px auto 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer {
  margin-top: 20px;
  background: linear-gradient(-90deg, #84cf6a, #16c0b0);
}
