body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  background: linear-gradient(-90deg, #84cf6a, #16c0b0);
}
